@{
    ViewData["Title"] = "Home";
}
<h1>Welcome to A7mvc</h1>
<p>Instructions on how to use the website:</p>
<ul>
    <li>Login with your username and password.</li>
    <li>If you don’t have an account, create one.</li>
    <li>After logging in, you will see a table with users.</li>
</ul>
<a href="/Account/Login">Go to Login</a>
