@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to A8</h2>
<p>Select an option below:</p>

<div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Display Products</a>
    <a asp-controller="Product" asp-action="Add" class="btn btn-success">Add Product</a>
</div>
