@model DFPokédex.Models.DevilFruit

<h1>Add a New Devil Fruit</h1>

<form asp-action="Create" method="post">
    <label>Name:</label>
    <input type="text" asp-for="Name" required />
    <br />
    <label>User:</label>
    <input type="text" asp-for="User" required />
    <br />
    <button type="submit">Add Devil Fruit</button>
</form>
<br/>
<a href="/DevilFruits/Index">Back to List</a>