@model List<DFPokédex.Models.DevilFruit>

<h1>Devil Fruits Pokédex</h1>

<table border=" 2">
    <tr>
        <th>Name</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.User</td>
            <td>
                <a href="/DevilFruits/Edit/@item.Id">Edit</a> |
                <a href="/DevilFruits/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<br/>
<a href="/DevilFruits/Create">Add New</a>